.dashboard {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 2;
    padding: 16px;
    padding-left: 0px;
    gap: 16px;
    height: calc(100vh - 76.5px);
}

.dashboard-graph {
    display: flex;
    gap: 8px;
    flex-direction: column;
    background-color: #dddddd;
    align-items: start;
    padding: 16px;
    padding-bottom: 8px;
    width: calc(100% - 32px);
    min-height: 4%;
    height: 50%;
    border: 1px solid #bbbbbb;
    position: relative;
}
