.dashboard {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 2;
    padding: 16px;
    padding-left: 0px;
    gap: 16px;
    height: calc(100vh - 76.5px);
    min-width: 0;
}

.dashboard-graph-container {
    display: flex;
    gap: 8px;
    flex-direction: column;
    background-color: #dddddd;
    align-items: start;
    padding: 16px;
    padding-bottom: 8px;
    width: calc(100% - 32px);
    min-height: 4%;
    height: 30%;
    border: 1px solid #bbbbbb;
    position: relative;
    overflow: hidden;
}

.dashboard-graph-title {
    padding: 8px;
    background-color: #cccccc;
    display: inline-block;
    border: 1px solid #bbbbbb;
    outline: 8px solid #dddddd;
    overflow-y: auto;
    z-index: 31;
}

.dashboard-summaries-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    background-color: #dddddd;
    align-items: start;
    width: 100%;
    min-height: 4%;
    height: 60%;
    position: relative;
    /*overflow: hidden;*/
}

.recents-table-title {
    padding: 8px;
    display: inline-block;
    border: 1px solid #bbbbbb;
    position: sticky;
    background-color: #cccccc;
    display: flex;
    top: 0px;
    z-index: 30;
    grid-column: 1 / -1;
    grid-row: 1;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0 -30px 0 #dddddd;
    gap: 8px;
}

.recents-table-container {
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
    padding: 16px;
    width: 60%;
    height: 100%;
    border: 1px solid #bbbbbb;
    overflow-y: auto;
    scroll-snap-type: y proximity;
    scroll-padding: 20%;
    box-sizing: border-box;
}

.top-categories-table-title {
    padding: 8px;
    display: inline-block;
    border: 1px solid #bbbbbb;
    position: sticky;
    background-color: #cccccc;
    display: flex;
    top: 0px;
    z-index: 30;
    grid-column: 1 / -1;
    grid-row: 1;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0 -30px 0 #dddddd;
    gap: 8px;
}

.top-categories-table-container {
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
    padding: 16px;
    width: 40%;
    height: 100%;
    border: 1px solid #bbbbbb;
    overflow-y: auto;
    scroll-snap-type: y proximity;
    scroll-padding: 20%;
    box-sizing: border-box;
    margin-right: clamp(-4px, -2px, -2px);
}

.sub-table-container {
    overflow-x: scroll;
    scrollbar-color: #999 #ddd;
    scrollbar-width: thin;
    scroll-snap-type: y proximity;
}

.dashboard-graph-title,
.recents-table-title,
.top-categories-table-title {
    cursor: default;
}

/* Dark Mode Overrides */

body[data-theme="dark"] .dashboard-graph-container,
body[data-theme="dark"] .top-categories-table-container,
body[data-theme="dark"] .recents-table-container {
    background-color: #222222;
    border: 1px solid #444444;
}

body[data-theme="dark"] .dashboard-graph-title {
    background-color: #333333;
    border: 1px solid #444444;
    outline: 8px solid #222222;
}

body[data-theme="dark"] .dashboard-summaries-container {
    background-color: #222222;
}

body[data-theme="dark"] .recents-table-title,
body[data-theme="dark"] .top-categories-table-title {
    border: 1px solid #444444;
    background-color: #333333;
    box-shadow: 0 -30px 0 #222222;
}

body[data-theme="dark"] .sub-table-container {
    scrollbar-color: #666 #222;
}
