.table {
    width: 100%;
    border-collapse: collapse;
    height: 100%;
}
.tbody {
    height: 100%;
}

.th {
    position: sticky;
    top: 40px;
    background-color: #dddddd;
    text-align: left;
    z-index: 28;
    box-shadow: 0 -30px 0 #dddddd;
    cursor: default;
}

.th,
.td {
    padding: 16px;
    font-size: 12px;
    height: 9px;
}

.tr {
    border-bottom: 1px solid #bbbbbb;
    scroll-snap-align: center;
}
.tr:not(:first-child):hover {
    background-color: #cccccc;
}
