.table-loading {
    display: flex;
    width: calc(100% - 4px);
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    cursor: default;
}
.table {
    width: 100%;
    border-collapse: collapse;
}

.th {
    position: sticky;
    top: 38px;
    background-color: #dddddd;
    text-align: left;
    z-index: 28;
    cursor: default;
}

.th,
.td {
    padding: 16px;
    font-size: 14px;
    height: 9px;
}

.tr {
    border-bottom: 1px solid #bbbbbb;
    scroll-snap-align: center;
}
.tr:not(:first-child):hover {
    background-color: #cccccc;
    cursor: default;
}
