table {
    width: calc(100% - 32px);
    border-collapse: collapse;
}

th {
    position: sticky;
    top: 40px;
    background-color: #dddddd;
    text-align: left;
    z-index: 28;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        background-color: #dddddd;
        transform: translateY(-100%);
        z-index: 27;
    }
}

th,
td {
    padding: 1.4%;
    font-size: 14px;
}

tr {
    border-bottom: 1px solid #bbbbbb;
    scroll-snap-align: center;
}
tr:not(:first-child):hover {
    background-color: #cccccc;
}
