.accounts {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 2;
    padding: 16px;
    padding-left: 0px;
    gap: 16px;
    height: calc(100vh - 48px - 32px);
}

.accounts-graph {
    background-color: #dddddd;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: calc(100% - 32px);
    height: 30%;
    border: 1px solid #bbbbbb;
}

.accounts-graph-balance {
    display: inline-block;
    border: 1px solid #bbbbbb;
    padding: 8px;
}

.accounts-table-container {
    background-color: #dddddd;
    padding-top: 50px;
    padding: 16px;
    width: calc(100% - 32px);
    height: 70%;
    border: 1px solid #bbbbbb;
    scroll-snap-type: y proximity;
    overflow-y: auto;
}

.accounts-table-header {
    position: sticky;
    background-color: #dddddd;
    display: flex;
    top: 0px;
}

.accounts-table-title {
    padding: 8px;
    border: 1px solid #bbbbbb;
}
