.home-container,
.home-container-minimized {
    display: grid;
    grid-template-rows: 48px 1fr;
    height: 100vh;
    overflow: hidden;
}

.home-container {
    grid-template-columns: 224px 1fr;
}

.home-container-minimized {
    transition: grid-template-columns 250ms ease;
    grid-template-columns: 12px 1fr;
}
