@font-face {
    font-family: "DepartureMono-Regular";
    src: url("./assets/fonts/DepartureMono-Regular.woff2") format("woff2");
}

html,
body {
    font-family: "DepartureMono-Regular", sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: inherit;
    color: inherit;
}
