.categories {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 2;
    padding: 16px;
    padding-left: 0px;
    gap: 16px;
    height: calc(100vh - 76.5px);
}

.categories-doughnut {
    display: flex;
    gap: 8px;
    flex-direction: column;
    background-color: #dddddd;
    align-items: start;
    padding: 16px;
    padding-bottom: 8px;
    width: 35%;
    min-height: 4%;
    height: 50%;
    border: 1px solid #bbbbbb;
    position: relative;
}

.categories-balance-container,
.categories-balance-container-active,
.categories-balance-container-expanded {
    background-color: #cccccc;
    display: inline-block;
    border: 1px solid #bbbbbb;
    transition:
        background-color 250ms ease,
        font-size 250ms ease;
    width: auto;
    overflow-y: auto;
    white-space: nowrap;
    z-index: 31;
}

.categories-balance-container-active {
    background-color: #bbbbbb;
    border: 1px solid #999999;
}
.categories-balance-container-expanded {
    background-color: #cccccc;
}

.categories-balance-container:hover {
    background-color: #eeeeee;
}

.categories-balance-container-active:hover {
    background-color: #eeeeee;
}

.categories-balance {
    padding: 8px;
}

.categories-filter-container-active,
.categories-filter-container {
    gap: 8px;
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #bbbbbb;
    width: 100%;
}
.categories-filter-container-active {
    display: flex;
}

.categories-textselect-container {
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding: 8px;
}

.categories-filters-filter {
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.categories-filters-select {
    height: 36px;
    margin: 4px 0;
    border: 1px solid #999999;
    border-radius: 4px;
    box-sizing: border-box;
    width: 256px;
}

.category-filters-date {
    height: 36px;
    margin: 4px 0;
    border: 1px solid #999999;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100px;
    align-items: center;
    justify-content: space-evenly;
}

.categories-start-end-date-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-evenly;
}

.filter-clear-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bbbbbb;
    font-size: 11px;
    border: 1px solid #bbbbbb;
    transition: background-color 250ms ease;
    height: 16px;
    aspect-ratio: 1 / 1;
    margin-left: auto;
    z-index: 1;
}

.filter-clear-button:hover {
    background-color: #eeeeee;
}

.categories-table-container {
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
    padding: 16px;
    width: calc(100% - 32px);
    height: 100%;
    border: 1px solid #bbbbbb;
    scroll-snap-type: y proximity;
    overflow-y: auto;
    scroll-padding: 20%;
}

.categories-table-header {
    background-color: #dddddd;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    z-index: 30;
    grid-column: 1 / -1;
    grid-row: 1;
    box-sizing: border-box;
    box-shadow: 0 -30px 0 #dddddd;
}

.categories-table-title {
    padding: 8px;
    background-color: #cccccc;
    transition: background-color 250ms ease;
    border: 1px solid #bbbbbb;
}

.categories-table-title:hover {
    background-color: #eeeeee;
}

.categories-table-title-active {
    white-space: nowrap;
    background-color: #bbbbbb;
    padding: 8px;
    border: 1px solid #999999;
    transition: background-color 250ms ease;
}
.categories-table-title-active:hover {
    background-color: #cccccc;
}

.table-header-input {
    display: flex;
    font-size: 12px;
    background-color: #dddddd;
    flex: 1;
    min-width: 0;
    border: 1px solid #bbbbbb;
    box-sizing: border-box;
    transition: background-color 250ms ease;
}
.table-header-input::placeholder {
    font-size: 12px;
    text-align: center;
}

.table-header-input:hover {
    background-color: #eeeeee;
    transition: background-color 250ms ease;
    border: 1px solid #999999;
}

.table-header-button-container {
    display: flex;
    justify-content: right;
    gap: 8px;
}

.add-category-container {
    display: flex;
}
.edit-category-container {
    display: flex;
}

.add-category-button {
    align-items: center;
    background-color: #cccccc;
    border: none;
    font-size: 13px;
    transition: background-color 250ms ease;
    border: 1px solid #bbbbbb;
    width: 144px;
}

.add-category-button:hover {
    background-color: #eeeeee;
}

.edit-category-button {
    align-items: center;
    background-color: #cccccc;
    border: none;
    font-size: 13px;
    transition: background-color 250ms ease;
    border: 1px solid #bbbbbb;
    width: 144px;
}

.edit-category-button:hover {
    background-color: #eeeeee;
}

.categories-table-title,
.categories-balance {
    cursor: pointer;
}

.categories-filter-container-active {
    cursor: default;
}
