.form-container {
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-title {
    transition: font-size 500ms ease;
    font-size: 24px;
    padding: 16px;
    cursor: default;
}

.form-title:hover {
    font-size: 25px;
}

.form-input,
.form-input-alert {
    font-size: 11px;
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #999999;
    border-radius: 4px;
    box-sizing: border-box;
    height: 36px;
}

.form-input-alert {
    border: 1px solid #cc0000;
}

.form-button {
    font-size: 11px;
    width: 95%;
    padding: 10px;
    margin: 20px 0;
    background-color: #444444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.form-button:hover {
    background-color: #666666;
}

.form-button:disabled {
    background-color: #bbbbbb;
    cursor: not-allowed;
}

.where-to {
    color: black;
    font-size: 11px;
    margin-top: 4px;
}
