.navbar {
    display: flex;
    grid-column: 1 / -1;
    grid-row: 1;
    justify-content: space-between;
    align-items: center;
    background-color: #dddddd;
    border: 1px solid #bbbbbb;
    padding: 16px;
    max-height: 16px;
}

.add-nav {
    display: flex;
    align-items: center;
    background-color: #cccccc;
    border: none;
    font-size: 13px;
    border: 1px solid #bbbbbb;
    transition: background-color 250ms ease;
}

.add-nav:hover {
    background-color: #eeeeee;
}

.sidebar-nav {
    display: flex;
    align-items: center;
    background-color: #cccccc;
    border: none;
    font-size: 13px;
    border: 1px solid #bbbbbb;
    transition: background-color 250ms ease;
}

.sidebar-nav:hover {
    background-color: #eeeeee;
}

.add-nav,
.sidebar-nav {
    cursor: pointer;
}
