.navbar {
    display: flex;
    grid-column: 1 / -1;
    grid-row: 1;
    justify-content: space-between;
    align-items: center;
    background-color: #dddddd;
    border-bottom: 1px solid #bbbbbb;
    padding: 16px;
    max-height: 16px;
}

.navbar-center {
    transition: font-size 500ms ease;
}
.navbar-center:hover {
    font-size: 17px;
}

.add-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    font-size: 13px;
    border: 1px solid #bbbbbb;
    transition: background-color 250ms ease;
    height: 24px;
    width: 24px;
}

.add-nav:hover {
    background-color: #eeeeee;
}

.sidebar-nav,
.sidebar-nav-mac {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    border: none;
    font-size: 13px;
    border: 1px solid #bbbbbb;
    transition: background-color 250ms ease;
    height: 24px;
    width: 24px;
    position: relative;
    app-region: no-drag;
    position: relative;
}

.sidebar-nav-mac {
    left: 84px;
}

.sidebar-nav:hover {
    background-color: #eeeeee;
}

.sidebar-nav-mac:hover {
    background-color: #eeeeee;
}

.add-nav,
.sidebar-nav,
.sidebar-nav-mac {
    cursor: pointer;
}

.navbar-center {
    cursor: default;
}

.navbar {
    app-region: drag;
}

.navbar > * {
    app-region: no-drag;
}

/* Dark Theme Overrides*/

body[data-theme="dark"] .navbar {
    background-color: #222222;
    border-bottom: 1px solid #444444;
}

body[data-theme="dark"] .add-nav,
body[data-theme="dark"] .sidebar-nav,
body[data-theme="dark"] .sidebar-nav-mac {
    background-color: #333333;
    border: 1px solid #444444;
}

body[data-theme="dark"] .sidebar-nav:hover,
body[data-theme="dark"] .sidebar-nav-mac:hover,
body[data-theme="dark"] .add-nav:hover {
    background-color: #555555;
}
