.settings-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
}

.settings-sub-content-container {
    display: flex;
    flex-direction: column;
}
.settings-content-multiple-input-container {
    display: flex;
    flex-direction: column;
    width: inherit;
    gap: 8px;
}

.settings-content-header {
    display: flex;
    padding-bottom: 12px;
    padding-left: 4px;
    /*width: fit-content;*/
    align-items: start;
}

.settings-content-input {
    font-size: 11px;
    width: 100%;
    padding: 10px;
    border: 1px solid #999999;
    border-radius: 4px;
    box-sizing: border-box;
    height: 36px;
}

.settings-import-button {
    font-size: 11px;
}

.settings-content-button,
.data-settings-content-button,
.data-settings-content-button-delete {
    font-size: 11px;
    width: 100%;
    padding: 10px;
    margin: 24px 0;
    background-color: #444444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.data-settings-content-button {
    margin-top: 8px;
    margin-bottom: 8px;
}
.data-settings-content-button-delete {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #990000;
}

.data-settings-content-button-delete:hover {
    background-color: #cc0000;
}

.warning-text {
    margin-top: 8px;
    font-size: 11px;
    color: #990000;
    padding-left: 4px;
}

.settings-content-button:hover,
.data-settings-content-button:hover {
    background-color: #666666;
}

.data-settings-content-button:disabled,
.settings-content-button:disabled,
.data-settings-content-button-delete:disabled {
    background-color: #bbbbbb;
    cursor: not-allowed;
}

/* Dark Theme Overrides*/

body[data-theme="dark"] .settings-content-input {
    border: 1px solid #666666;
    background-color: #333333;
}

body[data-theme="dark"] .settings-content-container,
body[data-theme="dark"] .settings-sub-content-container {
    background-color: #333333;
}

body[data-theme="dark"] .settings-content-button,
body[data-theme="dark"] .data-settings-content-button,
body[data-theme="dark"] .data-settings-content-button-delete {
    background-color: #bbbbbb;
    color: white;
}

body[data-theme="dark"] .data-settings-content-button-delete {
    background-color: #dd5444;
}

body[data-theme="dark"] .data-settings-content-button-delete:hover {
    background-color: #ff5444;
}

body[data-theme="dark"] .warning-text {
    color: #ff5444;
}

body[data-theme="dark"] .settings-content-button:hover,
body[data-theme="dark"] .data-settings-content-button:hover {
    background-color: #999999;
}

body[data-theme="dark"] .data-settings-content-button:disabled,
body[data-theme="dark"] .settings-content-button:disabled,
body[data-theme="dark"] .data-settings-content-button-delete:disabled {
    background-color: #444444;
    color: #bbbbbb;
}
