.recurring {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 2;
    padding: 16px;
    padding-left: 0px;
    gap: 16px;
    height: calc(100vh - 76.5px);
}

.recurring-table-container {
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
    padding: 16px;
    width: calc(100% - 32px);
    height: 100%;
    border: 1px solid #bbbbbb;
    scroll-snap-type: y proximity;
    overflow-y: auto;
    scroll-padding: 20%;
}

.recurring-table-header {
    position: sticky;
    background-color: #dddddd;
    display: flex;
    top: 0px;
    z-index: 30;
    grid-column: 1 / -1;
    grid-row: 1;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0 -30px 0 #dddddd;
    gap: 8px;
}

.recurring-table-title-container {
    background-color: #dddddd;
    display: block;
    border: 1px solid #bbbbbb;
    transition:
        background-color 250ms ease,
        font-size 250ms ease;
}

.recurring-table-title {
    padding: 8px;
    transition:
        background-color 250ms ease,
        font-size 250ms ease;
}

.recurring-table-title:hover {
    font-size: 18px;
    background-color: #cccccc;
}

.table-header-input {
    font-size: 12px;
    background-color: #dddddd;
    width: 100%;
    border: 1px solid #bbbbbb;
    box-sizing: border-box;
    transition: background-color 250ms ease;
    flex: 1;
}

.table-header-input::placeholder {
    font-size: 12px;
    text-align: center;
}

.table-header-input:hover {
    background-color: #eeeeee;
    transition: background-color 250ms ease;
    border: 1px solid #999999;
}

.create-button {
    align-items: center;
    background-color: #cccccc;
    border: none;
    font-size: 13px;
    transition: background-color 250ms ease;
    border: 1px solid #bbbbbb;
    min-width: 144px;
    white-space: nowrap;
}

.create-button:hover {
    background-color: #eeeeee;
}

.recurring-table-title,
.create-button {
    cursor: pointer;
}
