.transactions {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 2;
    padding: 16px;
    padding-left: 0px;
    gap: 16px;
    height: calc(100vh - 76.5px);
}

.transactions-table-container {
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
    padding: 16px;
    width: calc(100% - 32px);
    height: 100%;
    border: 1px solid #bbbbbb;
    scroll-snap-type: y proximity;
    overflow-y: auto;
    scroll-padding: 20%;
}

.transactions-table-header {
    position: sticky;
    background-color: #dddddd;
    display: flex;
    top: 0px;
    z-index: 30;
    grid-column: 1 / -1;
    grid-row: 1;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0 -30px 0 #dddddd;
    gap: 8px;
}

.transactions-table-title-container,
.transactions-table-title-container-active,
.transactions-table-title-container-expanded {
    background-color: #dddddd;
    display: block;
    border: 1px solid #bbbbbb;
    transition:
        background-color 250ms ease,
        font-size 250ms ease;
}
.transactions-table-title-container-active {
    background-color: #bbbbbb;
    border: 1px solid #999999;
}
.transactions-table-title-container-expanded {
    background-color: #cccccc;
    font-size: 18px;
    width: 100%;
}
.transactions-table-title-container-expanded
    .transactions-table-filter-container {
    display: flex;
}

.transactions-table-title {
    padding: 8px;
    transition:
        background-color 250ms ease,
        font-size 250ms ease;
}

.transactions-table-title:hover {
    font-size: 18px;
    background-color: #cccccc;
}

.transactions-table-title-active {
    white-space: nowrap;
    background-color: #bbbbbb;
    padding: 8px;
    border: 1px solid #999999;
    transition: background-color 250ms ease;
}

.transactions-table-filter-container {
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #bbbbbb;
}

.transactions-table-title-container-expanded + .table-header-input {
    display: none;
}

.transactions-table-textselect-container {
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding: 8px;
}

.transactions-table-filters-filter {
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.transactions-table-filters-select {
    height: 36px;
    margin: 4px 0;
    border: 1px solid #999999;
    border-radius: 4px;
    box-sizing: border-box;
    width: 256px;
}

.transactions-table-filters-date {
    height: 36px;
    margin: 4px 0;
    border: 1px solid #999999;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100px;
    align-items: center;
    justify-content: space-evenly;
}

.transaction-table-start-end-date-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-evenly;
}

.filter-clear-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bbbbbb;
    font-size: 11px;
    border: 1px solid #bbbbbb;
    transition: background-color 250ms ease;
    height: 16px;
    aspect-ratio: 1 / 1;
    margin-left: auto;
    z-index: 1;
}

.filter-clear-button:hover {
    background-color: #eeeeee;
}

.table-header-input {
    font-size: 12px;
    background-color: #dddddd;
    width: 100%;
    border: 1px solid #bbbbbb;
    box-sizing: border-box;
    transition: background-color 250ms ease;
}

.table-header-input::placeholder {
    font-size: 12px;
    text-align: center;
}

.table-header-input:hover {
    background-color: #eeeeee;
    transition: background-color 250ms ease;
    border: 1px solid #999999;
}

.table-header-button-container {
    display: flex;
    justify-content: right;
    gap: 8px;
}

.transactions-table-title,
.filter-clear-button {
    cursor: pointer;
}

.transactions-table-filter-container {
    cursor: default;
}
